<!--<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>-->
<h3><%= firstName %> <%= lastName %></h3>
<br>
        <table class="table table-striped">
            <tr>
                <td>Cell Phone:</td>
                <td><i class="icon-large <%= thumbs %> toggle"></i>&nbsp;&nbsp;<%= cellPhone%>&nbsp;&nbsp;<a href="tel:<%= cellPhone %>"><i class="icon-large icon-iphone"></i></a></a>&nbsp;&nbsp;<a href="sms:<%= cellPhone %>?body=Will you be there tonight?"><i class="icon-large icon-iphone"></i></a></td>
            </tr>
        </table>
